
alias ag="sudo apt-get -y install"
alias ac="apt-cache search"
alias e="vim --remote-silent"
alias vims="vim --servername VIM"
alias ebrc="vim ~/.bashrc"
alias cd..="cd .."
alias és=ls
alias d=display
alias clip=xclip -i -selection clipboard

alias ethd="sudo ifconfig eno1 down"
alias ethu="sudo ifconfig eno1 up"
alias dhcp="sudo dhclient -v eno1"
alias fucking=sudo
alias gf="git commit -am'fix' && git push"
alias funm="sudo systemctl restart NetworkManager"
alias lpass="LPASS_DISABLE_PINENTRY=1 lpass"

#setup pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH=$PYENV_ROOT/bin:$PATH
export WORKON_HOME=~/.ve
export PROJECT_HOME=~/turbine
eval "$(pyenv init -)"
pyenv virtualenvwrapper_lazy
